<launch>
    <arg name="ns" default="toroboeye"/>
    <arg name="camera" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="product" default="sl80"/>  <!-- sl80 or sl40 -->

    <include if="$(arg camera)" file="$(find toroboeye_camera)/launch/toroboeye_camera.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include>

    <include if="$(arg gui)" file="$(find toroboeye_gui)/launch/toroboeye_operator.launch">
        <arg name="ns" value="$(arg ns)"/>
    </include>

    <group if="$(arg rviz)">
        <include if="$(eval arg('product') == 'sl40')" file="$(find toroboeye_description)/launch/view_sl40_model.launch">
            <arg name="ns" value="$(arg ns)"/>
        </include>
        <include if="$(eval arg('product') == 'sl80')" file="$(find toroboeye_description)/launch/view_sl80_model.launch">
            <arg name="ns" value="$(arg ns)"/>
        </include>
    </group>

</launch>
