<?xml version="1.0"?>
<robot name="toroboeye_sl80" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="toroboeye"/>
  <xacro:property name="M_PI" value="3.1415926535897931"/>
  <link name="$(arg prefix)/base_link"/>
  <joint name="$(arg prefix)/body_joint" type="fixed">
    <parent link="$(arg prefix)/base_link"/>
    <child  link="$(arg prefix)/camera_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="$(arg prefix)/camera_link">
    <visual>
      <geometry>
        <mesh filename="package://toroboeye_description/meshes/SL80.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="-0.037 0.04 -0.021056" rpy="0 0 ${90*M_PI/180}"/>
      <material name="gray">
        <color rgba="0.8 0.8 0.8 1.0"/>
      </material>
    </visual>
  </link>
  <joint name="$(arg prefix)/camera_frame_joint" type="fixed">
    <parent link="$(arg prefix)/camera_link"/>
    <child  link="$(arg prefix)/camera_frame"/>
    <origin xyz="0 0 0.056" rpy="0 0 0" />
  </joint>
  <link name="$(arg prefix)/camera_frame">
  </link>
  <joint name="$(arg prefix)/camera_optical_frame_joint" type="fixed">
    <parent link="$(arg prefix)/camera_frame"/>
    <child  link="$(arg prefix)/camera_optical_frame"/>
    <origin xyz="0 0 0" rpy="${-90*M_PI/180} 0 ${-90*M_PI/180}" />
  </joint>
  <link name="$(arg prefix)/camera_optical_frame">
  </link>
</robot>